$light-grey: rgb(185, 185, 185);
$medium-grey: rgb(138, 138, 138);
$dark-grey: rgb(24, 24, 24);
$accent-color: rgb(1, 216, 152);

.link {
  text-decoration: none;
}

.trade-item { 
  display: flex;
  padding: 20px;
  transition: 0.25s ease;

  &:hover {
    background: rgb(248, 248, 248);
  }
}

.trade-chat-notification {
  width: 10px;
  height: 10px;
  margin-top: 6px;
  border-radius: 50%;
  flex-shrink: 0;

  &-unread {
    composes: trade-chat-notification;
    background: $accent-color;
  }

  &-read {
    composes: trade-chat-notification;
    background: $light-grey;
  }
}

.trade-info {
  margin-left: 10px;
}

.trading-with-status {
  margin-bottom: 8px;
}

.user-login {
  margin-right: 3px;
  font-size: 16px;
  color: $medium-grey;
}

.user-status {
  font-size: 16px;
  font-weight: 600;
  color: $medium-grey;
}

.payment-method {
  margin-bottom: 4px;
  font-size: 18px;
  color: $dark-grey
}

.money-values {
  display: flex;
  color: $light-grey;
}

.currency {
  margin-right: 5px;
}

.trade-status {
  display: block;
  margin-left: auto;
  flex-basis: 75px;
  flex-shrink: 0;
  text-align: center;
}

.trading-with-avatar {
  margin: 0 auto;
}

.paid-status {
  margin-top: 6px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;

  &-paid {
    composes: paid-status;
    color: $accent-color;
    
  }

  &-not-paid {
    composes: paid-status;
    color: $medium-grey;
  }
}
