$light-grey: rgb(185, 185, 185);
$medium-grey: rgb(138, 138, 138);
$dark-grey: rgb(24, 24, 24);
$notification-color: rgb(0, 202, 192);

.link {
  text-decoration: none;
}

.trade-item {
  display: flex;
  padding: 20px;

  &:hover {
    background: rgb(248, 248, 248);
  }
}

.trade-chat-notification {
  width: 10px;
  height: 10px;
  margin-top: 6px;
  border-radius: 50%;

  &-unread {
    composes: trade-chat-notification;
    background: $notification-color;
  }

  &-read {
    composes: trade-chat-notification;
    background: $light-grey;
  }
}

.trade-info {
  margin-left: 10px;
}

.trading-with-status {
  margin-bottom: 8px;
}

.user-login {
  margin-right: 3px;
  font-size: 16px;
  color: $medium-grey;
}

.user-status {
  font-size: 16px;
  font-weight: 600;
  color: $medium-grey;
}

.payment-method {
  margin-bottom: 2px;
  font-size: 18px;
  color: $dark-grey
}

.money-values {
  display: flex;
  color: $light-grey;
}

.currency {
  margin-right: 5px;
}

.trade-status {
  display: block;
}

.trading-with-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.paid-status {
  
  &-paid {
    color: $medium-grey;
  }

  &-not-paid {
    color: $notification-color;
  }
}
