$light-grey: rgb(185, 185, 185);
$medium-grey: rgb(138, 138, 138);
$dark-grey: rgb(59, 59, 59);
$accent-color: rgb(1, 216, 152);

.trade-chat {
  width: calc(1200px - 320px * 2);
}

.chat-header {
  position: relative;
  padding: 25px;
  text-align: center;
}

.action-delete-trade {
  position: absolute;
  top: 33px;
  left: 30px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  transition: 0.25s ease;
  opacity: 0.85;
  background: url('/images/delete-icon.svg') center no-repeat;
  background-size: 24px;
  background-color: #dfdfdf;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
    background-color: #d1d1d1;
    background-size: 20px;
  }
}

.payment-method {
  font-size: 24px;
  color: $dark-grey;
}

.trading-with {
  margin-top: 5px;
  font-size: 18px;
}

.trading-with-login {
  margin-right: 5px;
  color: $medium-grey;
}

.reputation-positive {
  color: rgb(104, 228, 2);
  margin-right: 5px;
  font-weight: 700;
}

.reputation-negative {
  color: rgb(224, 0, 0);
  margin-left: 3px;
  font-weight: 700;
}

